//Imports
@import "modules/grid.css.scss";
@import "modules/normalize.css";
//Variables

//Grid
header{
  margin-right: auto;
  margin-left: auto;
}
h1{
  width: 100%;
  display: block;
}
body{
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; 
  background: #d4d4d4 url("../images/background.png");
  color: rgba(0, 0, 0, .3);
}
header, #intro{
  text-align: center;
}
a, a:visited{
  color: #858585;
  text-decoration: none;
}
a:hover{
  color: #464646;
}
p{
  line-height: 1.5em;
  margin-bottom: 1em;
}
hr{
  border-bottom: 1px solid #8E8E8E; 
  border-top:none; margin-bottom: 1em;
}
h2{
  margin-bottom: 6px / $em;
}
#middleman{
  padding-bottom: 5em;
}
/*
  Mobile layout 
  240–479 px
  Zoomed out below 320 px
*/
@media screen and (min-width: 15em) {
  
  //Typography
  p{
    font-size: ($font-size - 4) / $em;
  }
  h1{
    font-size: ($font-size +11) / $em;margin-bottom: 4px / $em;
    margin-top: 8px / $em;
  }
  h2{
    font-size: ($font-size - 3) / $em;
  }
  //Grid
  header{
    @include width(4);
  }
  #container{
    margin: 0 auto;
    @include width(4);
  }

  #intro{
    @include width(4);
  }
  #frameless{ 
    @include width(4);
  }
}
/*
  Wide mobile layout 
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  
  //Typography
  p{
    font-size: ($font-size - 2) / $em;
  }
  h1{
    font-size: ($font-size + 20) / $em;
  }
  h2{
    font-size: ($font-size - 1) / $em;
  }
  //Grid
  header{
    @include width(6);
  }
  #container{
    @include width(6);
  }
  #intro{
    @include width(6);
  }
  #frameless{ 
    @include width(6);
  }
}
/*
  Tablet layout 
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em) {
  
  //Typography
  p {
    font-size: ($font-size - 2) / $em;
  }
  h1{
    font-size: ($font-size + 30) / $em;
  }
  h2{
    font-size: ($font-size - 1) / $em;
  }
  //Grid
  header{
    @include width(8);
  }
  #container{
    @include width(8);
  }
  #intro{
    @include width(8);
  }
  #frameless{
    @include width(4);
    float: left;
    margin-right: $gutter;
  }
  #middleman{
    @include width(4);
    float: right;
  }
}
/*
  Widescreen layout 
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em) {
  //Typography
  p {
    font-size: ($font-size) / $em;
  }
  h1{
    font-size: ($font-size + 50) / $em;
  }
  h2{
    font-size: ($font-size + 1) / $em;
  }
  //Grid
  header{
    @include width(12);
  }
  #container{
    @include width(12);
  }
  #intro{
    @include width(12);
  }
  #frameless{
    @include width(6);
    float: left;
    margin-right: $gutter;
  }
  #middleman{
    @include width(6);
    float: right;
  }
}